In [1]:
import pandas as pd
import numpy as np
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date

In [2]:
#Read the csv file
citiBike_df = pd.read_csv('Resources/citiBike.csv')

In [3]:
#sample the first five records
citiBike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Unnamed: 13
0,38F943EA06A4E54F,electric_bike,3/25/2023 9:20,3/25/2023 9:32,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,NaN
1,C76EFC4C3B771E88,electric_bike,3/15/2023 7:55,3/15/2023 8:07,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,NaN
2,02C7BC83975952E6,electric_bike,3/20/2023 8:50,3/20/2023 9:00,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,NaN
3,DB0FB572E0AA9C36,electric_bike,3/2/2023 10:17,3/2/2023 10:27,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,NaN
4,A238B2BDD1072D52,electric_bike,3/4/2023 9:13,3/4/2023 9:25,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,NaN

In [4]:
#delete the last column not part of the raw data
del citiBike_df['Unnamed: 13']

In [5]:
#display count to see if there is any na value. Indeed there are NAN values at headers: end_station_name,and end_station_id
citiBike_df.count()

ride_id               63072
rideable_type         63072
started_at            63072
ended_at              63072
start_station_name    63072
start_station_id      63072
end_station_name      62867
end_station_id        62867
start_lat             63072
start_lng             63072
end_lat               63015
end_lng               63015
member_casual         63072
dtype: int64

In [6]:
#drop all na values
citiBike_df = citiBike_df.dropna(how = 'any')

In [41]:
#verify the all na values are dropped. Indeed, all na values are dropped
citiBike_df.count()

ride_id                     62867
rideable_type               62867
started_at                  62867
ended_at                    62867
start_station_name          62867
start_station_id            62867
end_station_name            62867
end_station_id              62867
start_lat                   62867
start_lng                   62867
end_lat                     62867
end_lng                     62867
member_casual               62867
end_time                    62867
start_time                  62867
total_ride_time             62867
start_datetime              62867
end_datetime                62867
total_ride_time(minutes)    62867
tripduration (minutes)      62867
dtype: int64

#convert the started_at column values to datetime64 and create a new column: start_time
citiBike_df['start_time'] = pd.to_datetime(citiBike_df['started_at'])
citiBike_df

In [34]:
#convert the started_at column values to datetime64 and create a new column: start_time
citiBike_df['start_datetime'] = pd.to_datetime(citiBike_df['started_at'])

In [35]:
#convert the ended_at column values to datetime64 and create a new column: end_time
citiBike_df['end_datetime'] = pd.to_datetime(citiBike_df['ended_at'])

In [36]:
# verify the conversion
citiBike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,end_time,start_time,total_ride_time,start_datetime,end_datetime,total_ride_time(minutes),tripduration (minutes)
0,38F943EA06A4E54F,electric_bike,3/25/2023 9:20,3/25/2023 9:32,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,2023-03-25 09:32:00,2023-03-25 09:20:00,0 days 00:12:00,2023-03-25 09:20:00,2023-03-25 09:32:00,12.0,12.0
1,C76EFC4C3B771E88,electric_bike,3/15/2023 7:55,3/15/2023 8:07,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,2023-03-15 08:07:00,2023-03-15 07:55:00,0 days 00:12:00,2023-03-15 07:55:00,2023-03-15 08:07:00,12.0,12.0
2,02C7BC83975952E6,electric_bike,3/20/2023 8:50,3/20/2023 9:00,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,2023-03-20 09:00:00,2023-03-20 08:50:00,0 days 00:10:00,2023-03-20 08:50:00,2023-03-20 09:00:00,10.0,10.0
3,DB0FB572E0AA9C36,electric_bike,3/2/2023 10:17,3/2/2023 10:27,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,2023-03-02 10:27:00,2023-03-02 10:17:00,0 days 00:10:00,2023-03-02 10:17:00,2023-03-02 10:27:00,10.0,10.0
4,A238B2BDD1072D52,electric_bike,3/4/2023 9:13,3/4/2023 9:25,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,2023-03-04 09:25:00,2023-03-04 09:13:00,0 days 00:12:00,2023-03-04 09:13:00,2023-03-04 09:25:00,12.0,12.0

In [37]:
# Calculate the total ride time for each rider and create a new coulmn name: total_ride_time (the values are in seconds)

citiBike_df['total_ride_time'] =citiBike_df['end_datetime'] - citiBike_df['start_datetime']
citiBike_df['tripduration (minutes)']=citiBike_df['total_ride_time']/np.timedelta64(1,'m')

In [43]:
#verify the new dataframe
citiBike_df.tail(100)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,end_time,start_time,total_ride_time,start_datetime,end_datetime,total_ride_time(minutes),tripduration (minutes)
62972,66D4F7A261410DE8,classic_bike,3/29/2023 8:14,3/29/2023 8:21,Hamilton Park,JC009,Newport PATH,JC066,40.727596,-74.044247,40.727224,-74.033759,member,2023-03-29 08:21:00,2023-03-29 08:14:00,0 days 00:07:00,2023-03-29 08:14:00,2023-03-29 08:21:00,7.0,7.0
62973,864E539F234052EA,classic_bike,3/4/2023 11:29,3/4/2023 11:34,Hamilton Park,JC009,Newport PATH,JC066,40.727532,-74.044198,40.727224,-74.033759,member,2023-03-04 11:34:00,2023-03-04 11:29:00,0 days 00:05:00,2023-03-04 11:29:00,2023-03-04 11:34:00,5.0,5.0
62974,FF6315BC6FD2E8C0,classic_bike,3/2/2023 9:29,3/2/2023 9:35,Hamilton Park,JC009,Newport PATH,JC066,40.727596,-74.044247,40.727224,-74.033759,member,2023-03-02 09:35:00,2023-03-02 09:29:00,0 days 00:06:00,2023-03-02 09:29:00,2023-03-02 09:35:00,6.0,6.0
62975,D642FC7817557BED,classic_bike,3/30/2023 12:03,3/30/2023 12:10,Hamilton Park,JC009,Newport PATH,JC066,40.727596,-74.044247,40.727224,-74.033759,member,2023-03-30 12:10:00,2023-03-30 12:03:00,0 days 00:07:00,2023-03-30 12:03:00,2023-03-30 12:10:00,7.0,7.0
62976,EED9FB0EE4DEA620,classic_bike,3/22/2023 18:18,3/22/2023 18:23,Hamilton Park,JC009,Newport PATH,JC066,40.727368,-74.044318,40.727224,-74.033759,member,2023-03-22 18:23:00,2023-03-22 18:18:00,0 days 00:05:00,2023-03-22 18:18:00,2023-03-22 18:23:00,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63067,BF0032DA4A305161,classic_bike,3/19/2023 16:25,3/19/2023 16:33,Madison St & 1 St,HB402,Columbus Park - Clinton St & 9 St,HB501,40.738790,-74.039300,40.748161,-74.032453,member,2023-03-19 16:33:00,2023-03-19 16:25:00,0 days 00:08:00,2023-03-19 16:25:00,2023-03-19 16:33:00,8.0,8.0
63068,32172F9BEF8D56A2,classic_bike,3/22/2023 16:14,3/22/2023 16:20,Madison St & 1 St,HB402,Columbus Park - Clinton St & 9 St,HB501,40.738790,-74.039300,40.748161,-74.032453,casual,2023-03-22 16:20:00,2023-03-22 16:14:00,0 days 00:06:00,2023-03-22 16:14:00,2023-03-22 16:20:00,6.0,6.0
63069,6FCF0C7C1E254341,electric_bike,3/19/2023 2:16,3/19/2023 2:21,Madison St & 1 St,HB402,Columbus Park - Clinton St & 9 St,HB501,40.738790,-74.039300,40.748161,-74.032453,casual,2023-03-19 02:21:00,2023-03-19 02:16:00,0 days 00:05:00,2023-03-19 02:16:00,2023-03-19 02:21:00,5.0,5.0
63070,34DFBEB02424B55E,electric_bike,3/30/2023 20:09,3/30/2023 20:15,Madison St & 1 St,HB402,Columbus Park - Clinton St & 9 St,HB501,40.738790,-74.039300,40.748161,-74.032453,casual,2023-03-30 20:15:00,2023-03-30 20:09:00,0 days 00:06:00,2023-03-30 20:09:00,2023-03-30 20:15:00,6.0,6.0
63071,A235AD010540ACA2,classic_bike,3/17/2023 17:53,3/17/2023 17:59,Madison St & 1 St,HB402,Columbus Park - Clinton St & 9 St,HB501,40.738790,-74.039300,40.748161,-74.032453,casual,2023-03-17 17:59:00,2023-03-17 17:53:00,0 days 00:06:00,2023-03-17 17:53:00,2023-03-17 17:59:00,6.0,6.0

In [27]:
#Recreate new columns and rename the dataframe as cleaned_citibike_df

cleaned_citibike_df = citiBike_df[['tripduration (minutes)','ride_id','rideable_type', 'start_datetime','end_datetime','start_station_name','start_station_id', 'end_station_name','end_station_id', 'start_lat','start_lng','end_lat', 'end_lng', 'member_casual']]

In [32]:
#verify the dataframe
cleaned_citibike_df.tail()

,tripduration (minutes),ride_id,rideable_type,start_datetime,end_datetime,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
63067,8.0,BF0032DA4A305161,classic_bike,2023-03-19 16:25:00,2023-03-19 16:33:00,Madison St & 1 St,HB402,Columbus Park - Clinton St & 9 St,HB501,40.73879,-74.0393,40.748161,-74.032453,member
63068,6.0,32172F9BEF8D56A2,classic_bike,2023-03-22 16:14:00,2023-03-22 16:20:00,Madison St & 1 St,HB402,Columbus Park - Clinton St & 9 St,HB501,40.73879,-74.0393,40.748161,-74.032453,casual
63069,5.0,6FCF0C7C1E254341,electric_bike,2023-03-19 02:16:00,2023-03-19 02:21:00,Madison St & 1 St,HB402,Columbus Park - Clinton St & 9 St,HB501,40.73879,-74.0393,40.748161,-74.032453,casual
63070,6.0,34DFBEB02424B55E,electric_bike,2023-03-30 20:09:00,2023-03-30 20:15:00,Madison St & 1 St,HB402,Columbus Park - Clinton St & 9 St,HB501,40.73879,-74.0393,40.748161,-74.032453,casual
63071,6.0,A235AD010540ACA2,classic_bike,2023-03-17 17:53:00,2023-03-17 17:59:00,Madison St & 1 St,HB402,Columbus Park - Clinton St & 9 St,HB501,40.73879,-74.0393,40.748161,-74.032453,casual

In [29]:
#verify all the data types before saving
cleaned_citibike_df.dtypes

tripduration (minutes)           float64
ride_id                           object
rideable_type                     object
start_datetime            datetime64[ns]
end_datetime              datetime64[ns]
start_station_name                object
start_station_id                  object
end_station_name                  object
end_station_id                    object
start_lat                        float64
start_lng                        float64
end_lat                          float64
end_lng                          float64
member_casual                     object
dtype: object

In [42]:
#save the cleaned_citibike_df for tableau visualization

cleaned_citibike_df.to_csv("Resources/clean_citibike.csv", index=False)