In [152]:
import pandas as pd
import numpy as np
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date

In [153]:
#Read the csv file
citiBike_df = pd.read_csv('Resources/citiBike.csv')

In [154]:
#sample the first five records
citiBike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Unnamed: 13
0,38F943EA06A4E54F,electric_bike,3/25/2023 9:20,3/25/2023 9:32,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,NaN
1,C76EFC4C3B771E88,electric_bike,3/15/2023 7:55,3/15/2023 8:07,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,NaN
2,02C7BC83975952E6,electric_bike,3/20/2023 8:50,3/20/2023 9:00,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,NaN
3,DB0FB572E0AA9C36,electric_bike,3/2/2023 10:17,3/2/2023 10:27,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,NaN
4,A238B2BDD1072D52,electric_bike,3/4/2023 9:13,3/4/2023 9:25,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,NaN

In [155]:
#delete the last column not part of the raw data
del citiBike_df['Unnamed: 13']

In [156]:
#display count to see if there is any na value. Indeed there are NAN values at headers: end_station_name,and end_station_id
citiBike_df.count()

ride_id               63072
rideable_type         63072
started_at            63072
ended_at              63072
start_station_name    63072
start_station_id      63072
end_station_name      62867
end_station_id        62867
start_lat             63072
start_lng             63072
end_lat               63015
end_lng               63015
member_casual         63072
dtype: int64

In [157]:
#drop all na values
citiBike_df = citiBike_df.dropna(how = 'any')

In [158]:
#verify the all na values are dropped. Indeed, all na values are dropped
citiBike_df.count()

ride_id               62867
rideable_type         62867
started_at            62867
ended_at              62867
start_station_name    62867
start_station_id      62867
end_station_name      62867
end_station_id        62867
start_lat             62867
start_lng             62867
end_lat               62867
end_lng               62867
member_casual         62867
dtype: int64

In [159]:
#convert the started_at column values to datetime64 and create a new column: start_time
citiBike_df['start_time'] = pd.to_datetime(citiBike_df['started_at'])

In [161]:
#convert the ended_at column values to datetime64 and create a new column: end_time
citiBike_df['end_time'] = pd.to_datetime(citiBike_df['ended_at'])

In [162]:
# verify the conversion
citiBike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_time,end_time
0,38F943EA06A4E54F,electric_bike,3/25/2023 9:20,3/25/2023 9:32,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,2023-03-25 09:20:00,2023-03-25 09:32:00
1,C76EFC4C3B771E88,electric_bike,3/15/2023 7:55,3/15/2023 8:07,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,2023-03-15 07:55:00,2023-03-15 08:07:00
2,02C7BC83975952E6,electric_bike,3/20/2023 8:50,3/20/2023 9:00,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,2023-03-20 08:50:00,2023-03-20 09:00:00
3,DB0FB572E0AA9C36,electric_bike,3/2/2023 10:17,3/2/2023 10:27,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,2023-03-02 10:17:00,2023-03-02 10:27:00
4,A238B2BDD1072D52,electric_bike,3/4/2023 9:13,3/4/2023 9:25,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,2023-03-04 09:13:00,2023-03-04 09:25:00

In [163]:
# Calculate the total ride time for each rider and create a new coulmn name: total_ride_time (the values are in seconds)

citiBike_df['total_ride_time'] =citiBike_df['end_time'] - citiBike_df['start_time']
citiBike_df['total_ride_time']=citiBike_df['total_ride_time']/np.timedelta64(1,'s')

In [164]:
#verify the new dataframe
citiBike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_time,end_time,total_ride_time
0,38F943EA06A4E54F,electric_bike,3/25/2023 9:20,3/25/2023 9:32,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,2023-03-25 09:20:00,2023-03-25 09:32:00,720.0
1,C76EFC4C3B771E88,electric_bike,3/15/2023 7:55,3/15/2023 8:07,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,2023-03-15 07:55:00,2023-03-15 08:07:00,720.0
2,02C7BC83975952E6,electric_bike,3/20/2023 8:50,3/20/2023 9:00,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,2023-03-20 08:50:00,2023-03-20 09:00:00,600.0
3,DB0FB572E0AA9C36,electric_bike,3/2/2023 10:17,3/2/2023 10:27,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,2023-03-02 10:17:00,2023-03-02 10:27:00,600.0
4,A238B2BDD1072D52,electric_bike,3/4/2023 9:13,3/4/2023 9:25,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,2023-03-04 09:13:00,2023-03-04 09:25:00,720.0

In [134]:
#Recreate new columns and rename the dataframe as cleaned_citibike_df

cleaned_citibike_df = citiBike_df[['ride_id','rideable_type', 'start_time','end_time','total_ride_time','start_station_name','start_station_id', 'end_station_name','end_station_id', 'start_lat','start_lng','end_lat', 'end_lng', 'member_casual']]

In [165]:
#verify the dataframe
cleaned_citibike_df.head()

,ride_id,rideable_type,start_time,end_time,total_ride_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,38F943EA06A4E54F,electric_bike,2023-03-25 09:20:00,2023-03-25 09:32:00,720.0,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
1,C76EFC4C3B771E88,electric_bike,2023-03-15 07:55:00,2023-03-15 08:07:00,720.0,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
2,02C7BC83975952E6,electric_bike,2023-03-20 08:50:00,2023-03-20 09:00:00,600.0,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
3,DB0FB572E0AA9C36,electric_bike,2023-03-02 10:17:00,2023-03-02 10:27:00,600.0,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
4,A238B2BDD1072D52,electric_bike,2023-03-04 09:13:00,2023-03-04 09:25:00,720.0,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member

In [166]:
#verify all the data types before saving
cleaned_citibike_df.dtypes

ride_id                       object
rideable_type                 object
start_time            datetime64[ns]
end_time              datetime64[ns]
total_ride_time              float64
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [167]:
#save the cleaned_citibike_df for tableau visualization

cleaned_citibike_df.to_csv("Resources/cleaned_citibike.csv", index=False)